$black: #323232;
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$button-blue: #0095ff;
$button-blue-dark: #0065ad;

$white: #ffffff;

$mobile-edge: 5vw;
$tablet-edge: 3.125vw;
$desktop-edge: 14.0625vw;

$border: 2px solid $mercury;
