@use '../../../partials/mixins' as *;
@use '../../../partials/typography' as *;
@use '../../../partials/variables' as *;

.playlist {
  max-width: 348px;

  @include desktop {
    margin-left: 24px;
  }
  &__title {
    margin: 0 0 40px;
  }
}
