@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.player {
  display: flex;
  justify-content: center;
  background-color: black;

  &__video {
    object-fit: cover;
    width: 100%;
    max-width: 700px;
    height: 57.1875vw;
    max-height: 400px;

    @include tablet {
      width: 91%;
      max-width: 944px;
      height: 52.08vw;
      max-height: 540px;
    }

    @include desktop {
      width: 66%;
      max-width: 66%;
      min-width: 944px;
      height: 37.5vw;
      max-height: 37.5vw;
      min-height: 540px;
    }
  }
}
