@use '../../../../../partials/mixins' as *;
@use '../../../../../partials/typography' as *;
@use '../../../../../partials/variables' as *;

.comment {
  display: flex;
  margin-top: 1.5rem;
  list-style-type: none;
  border-bottom: $border;

  @include desktop {
    padding-right: 32px;
  }

  &__item {
    &--left {
      border-radius: 50%;
      background-color: $mercury;
      width: 2.5rem;
      height: 2.5rem;
    }
    &--right {
      font-size: 0.875rem;
      margin-left: 1rem;
      width: 86%;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;

    @include tablet {
      justify-content: flex-start;
    }
  }

  &__name {
    margin: 0;
    overflow-wrap: break-word;
    // font-size: 0.875rem;
    font-weight: 600;
  }

  &__date {
    margin: 0;
    color: $silver;
    font-weight: 400;

    @include tablet {
      margin-left: 0.5rem;
    }
  }

  &__description {
    overflow-wrap: break-word;
    margin-top: 8px;
  }
}
