@use './variables' as *;

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin page-padding {
  padding: 0 $mobile-edge;

  @include tablet {
    padding: 0 $tablet-edge;
  }

  @include desktop {
    padding: 0 $desktop-edge;
  }
}

@mixin border-radius {
  border-radius: 4px;
}
