@font-face {
  font-family: "Acenir Next";
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Acenir Next";
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Acenir Next";
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Acenir Next";
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Acenir Next";
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Light.otf");
  font-weight: 300;
}
