@use '../../../partials/mixins' as *;
@use '../../../partials/variables' as *;
@use '../../../partials/typography' as *;

.info {
  &__title {
    margin: 0;

    @include desktop {
      padding-right: 2rem;
    }
  }

  &__meta {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1.5rem 0;
    }

    @include desktop {
      padding-right: 2rem;
    }
  }

  &__upload-info {
    display: flex;
    margin: 1rem 0 2rem;

    @include tablet {
      margin: 0;
    }
  }

  &__channel {
    margin: 0 0.5rem 0 0;
    font-weight: 600;

    @include tablet {
      font-size: 16px;
    }
  }

  &__date {
    margin: 0;
    font-weight: 400;
    color: $silver;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__viewing {
    display: flex;
    margin-bottom: 1.5rem;

    @include tablet {
      margin: 0;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    &--views {
      margin-right: 1.5rem;
    }
  }

  &__icon {
    margin: 0 0.5rem 0 0;
  }

  &__count {
    margin: 0;
    font-weight: 300;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__description-container {
    border-top: $border;
  }

  &__description {
    margin: 0;
    padding-top: 1.5rem;
    font-size: 0.75rem;

    @include tablet {
      padding-top: 2.5rem;
      width: 66vw;
      font-size: 0.875rem;
    }

    @include desktop {
      min-width: 528px;
      width: 36.67vw;
      max-width: 36.67vw;
      padding-right: 2rem;
    }
  }
}
