@use '../../../partials/mixins' as *;
@use '../../../partials/variables' as *;
@use '../../../partials/typography' as *;

.header {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    text-decoration: none;

    @include tablet {
      width: 124px;
    }
  }

  &__logo-img {
    height: 1.625rem;
  }
}
