@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.pointer {
  cursor: pointer;
}

.main__primary-container {
  @include page-padding;

  margin-top: 32px;
  display: flex;
  flex-direction: column;
  // align-items: center;

  @include tablet {
    margin-top: 48px;
  }

  @include desktop {
    flex-direction: row;
  }

  .main__secondary-container {
    &--meta {
      margin-bottom: 40px;

      @include desktop {
        border-right: $border;
        width: 49.44vw;
        max-width: 49.44vw;
        padding-right: 32px;
      }
    }
  }
}
