@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;

.main__primary-container {
  @include page-padding;

  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }

  .main__secondary-container {
    &--meta {
      padding-top: 32px;
      margin-bottom: 40px;

      @include tablet {
        padding-top: 48px;
      }

      @include desktop {
        border-right: $border;
        // width: 49.44vw;
        // max-width: 49.44vw;
        width: calc(100% - 348px);
        max-width: calc(100% - 348px);
        padding-top: 40px;
      }
    }

    &--playlist {
      @include desktop {
        padding-top: 40px;
      }
    }
  }
}
