@use '../../../partials/mixins' as *;
@use '../../../partials/variables' as *;
@use '../../../partials/typography' as *;

.header__upload {
  height: 3rem;
  width: 100%;
  padding: 0;
  margin-right: 16px;

  &:focus,
  &:active {
    outline: none;
  }

  @include tablet {
    width: 120px;
    margin: 0 1.5rem;
  }

  &--image {
    margin-right: 1rem;

    @include tablet {
      margin-right: 0.5rem;
    }
  }

  &--text {
    font-weight: 400;
    margin: 0;
    line-height: 0.875rem;
  }
}
