@use '../../../partials/mixins' as *;
@use '../../../partials/variables' as *;
@use '../../../partials/typography' as *;

.header__upload {
  height: 48px;
  width: 100%;
  padding: 0;
  margin-right: 16px;
  font-family: inherit;

  @include tablet {
    width: 100px;
    margin: 0 24px;
  }

  &--image {
    margin-right: 16px;

    @include tablet {
      margin: 0;
    }
  }

  &--text {
    font-weight: 400;
  }
}
