@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;

.header {
  @include page-padding;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    margin: 0 auto;
  }

  &__container {
    width: 100%;

    @include tablet {
      display: flex;
      width: fit-content;
    }
  }

  &__sub-container {
    display: flex;
    justify-content: flex-end;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    text-decoration: none;

    @include tablet {
      width: 124px;
    }
  }

  &__logo-img {
    height: 1.625rem;
  }

  &__search-bar {
    display: flex;
    align-items: center;
    border: 2px solid $mercury;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    margin-bottom: 0.5rem;
    box-sizing: border-box;

    @include tablet {
      width: 248px;
      margin-bottom: 0;
    }
  }

  &__submit-btn {
    border-style: none;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 0.75rem;

    &:focus,
    &:active {
      outline: none;
      border: none;
    }
  }

  &__submit-icon {
    width: 0.875rem;
  }

  &__search-input {
    display: flex;
    align-items: center;
    border-style: none;
    width: 100%;
    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;

    &:focus,
    &:active {
      outline: none;
      border: none;
    }
  }

  &__upload {
    height: 3rem;
    width: 100%;
    padding: 0;
    margin-right: 16px;

    &:focus,
    &:active {
      outline: none;
    }

    @include tablet {
      width: 120px;
      margin: 0 1.5rem;
    }

    &--image {
      margin-right: 1rem;

      @include tablet {
        margin-right: 0.5rem;
      }
    }

    &--text {
      font-weight: 400;
      margin: 0;
      line-height: 0.875rem;
    }
  }

  &__profile-picture {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
  }
}
