@use '../../../partials/mixins' as *;
@use '../../../partials/typography' as *;
@use '../../../partials/variables' as *;

.comments {
  margin-top: 40px;
  @include desktop {
    padding-right: 32px;
  }
  &__title {
    margin: 0;
  }

  &__form {
    margin-top: 32px;
  }

  &__list {
    padding-left: 0;
    margin: 0;
  }
}
