@use '../../../../partials/mixins' as *;
@use '../../../../partials/typography' as *;
@use '../../../../partials/variables' as *;

.playlist-item {
  display: flex;
  margin-bottom: 1.5rem;
  height: 70px;

  &__image {
    width: 120px;
    border-radius: 4px;
    height: 70px;
    object-fit: cover;
  }

  &__info {
    margin-left: 1rem;
    height: 70px;
  }

  &__title {
    margin: 0 0 10px;
    font-weight: 600;
    text-overflow: ellipsis;

    @include tablet {
      line-height: 1.125rem;
      font-size: 0.875rem;
    }
  }

  &__channel {
    margin: 0;
    font-weight: 400;
  }
}
